.container {
  display: block;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 2.5%;
}

.title {
  font-size: 3.25vw;
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 28px;
  }
}

.timestamp {
  margin: 0px;
  min-width: 0px;
  font-size: 14px;
  font-weight: lighter;
  padding-bottom: 16px;
  color: gray;
}

.content p {
  margin-bottom: 12px;
}

.lastupdated {
  text-align: right;
  padding-bottom: 8px;
  color: gray;
  font-size: small;
  font-weight: lighter;
}

.content img {
  width: 80vw;
  height: auto;
  display: block;
  margin: 8px auto 16px;
}
