.container {
  display: block;
  padding-left: 7.5%;
  padding-right: 7.5%;
  padding-top: 2.5%;
}

.lexicon {
  text-align: center;
}

.readheading {
  text-align: left;
}

.starsmeaning {
  display: flex;
  justify-content: center;
  gap: 4rem;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  /* anti patterns */
  margin-left: 0;
  margin-right: 0;
}

.meaningitem {
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media screen and (max-width: 900px) {
  .card {
    padding-left: 4%;
  }

  .starsmeaning {
    margin-left: -7.5%;
    margin-right: -7.5%;
    gap: 0.75rem;
  }
}

.bookcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem;
}

.cardheading h4 {
  overflow: clip;
  text-overflow: ellipsis;
  font-size: 18px;
}

.card {
  /* Change background color */
  width: 30%;
  background-color: white;

  opacity: 50%;

  /* Add border */
  border: 1px solid #bacdd8;

  /* Add space between the border and the content */
  padding: 16px;

  border-radius: 12px;
  margin: 12px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 600px) {
  .card {
    width: 80%;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .card {
    width: 45%;
  }
}

.author {
  font-size: 16px;
}

.cardheading {
  padding-bottom: 4px;
}

.cardbody {
  padding-top: 12px;
}

.cardbody p {
  font-size: 12px;
}

.bookselflinks {
  padding-top: 16px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .bookselflinks {
    padding-bottom: 8px;
  }
}

.bookselflinks a {
  padding: 16px 8px;
}

.timestamp {
  margin: 0px;
  min-width: 0px;
  font-size: 14px;
  font-weight: lighter;
  padding-top: 8px;
  padding-bottom: 16px;
  color: gray;
  float: right;
  padding-right: 2%;
}

.ratingcontainer {
  margin: 0 auto;
  padding: 1rem 0;
  height: 32px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.myrating span {
  padding: 0 0.5px !important;
}

.imagecontainer {
  width: 50px;
  height: max-content;
}

/* .imagecontainer img {
  width: 100%;
  height: 75px;
  object-fit: cover;
} */

.bodycontainer {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
