.content p {
        margin-top: 2px;
        margin-bottom: 12px;
}

.container {
    display: block;
    float: left;
    padding-left: 7.5%;
    padding-top: 2.5%;
    width: 80%;
}

.lastupdated {
    text-align: right;
    padding-bottom: 8px;
    color: gray;
    font-size: small;
    font-weight: lighter;
}